.t-font-thin {
  font-weight: $fw-100;
}

.t-font-extralight {
  font-weight: $fw-200;
}

.t-font-light {
  font-weight: $fw-300;
}

.t-font-normal {
  font-weight: $fw-400;
}

.t-font-medium {
  font-weight: $fw-500;
}

.t-font-semibold {
  font-weight: $fw-600;
}

.t-font-bold {
  font-weight: $fw-700;
}

.t-font-extrabold {
  font-weight: $fw-800;
}

.t-font-black {
  font-weight: $fw-900;
}
