.u-m-0 {
  margin: 0px !important;
}

.u-m-1 {
  margin: 0.25rem !important;
}

.u-m-2 {
  margin: 0.5rem !important;
}

.u-m-3 {
  margin: 0.75rem !important;
}

.u-m-4 {
  margin: 1rem !important;
}

.u-m-5 {
  margin: 1.25rem !important;
}

.u-m-6 {
  margin: 1.5rem !important;
}

.u-m-7 {
  margin: 1.75rem !important;
}

.u-m-8 {
  margin: 2rem !important;
}

.u-m-9 {
  margin: 2.25rem !important;
}

.u-m-10 {
  margin: 2.5rem !important;
}

.u-m-11 {
  margin: 2.75rem !important;
}

.u-m-12 {
  margin: 3rem !important;
}

.u-m-14 {
  margin: 3.5rem !important;
}

.u-m-16 {
  margin: 4rem !important;
}

.u-m-20 {
  margin: 5rem !important;
}

.u-m-24 {
  margin: 6rem !important;
}

.u-m-28 {
  margin: 7rem !important;
}

.u-m-32 {
  margin: 8rem !important;
}

.u-m-36 {
  margin: 9rem !important;
}

.u-m-40 {
  margin: 10rem !important;
}

.u-m-44 {
  margin: 11rem !important;
}

.u-m-48 {
  margin: 12rem !important;
}

.u-m-52 {
  margin: 13rem !important;
}

.u-m-56 {
  margin: 14rem !important;
}

.u-m-60 {
  margin: 15rem !important;
}

.u-m-64 {
  margin: 16rem !important;
}

.u-m-72 {
  margin: 18rem !important;
}

.u-m-80 {
  margin: 20rem !important;
}

.u-m-96 {
  margin: 24rem !important;
}

.u-m-auto {
  margin: auto;
}

.u-m-px {
  margin: 1px;
}

.u-m-0\.5 {
  margin: 0.125rem !important;
}

.u-m-1\.5 {
  margin: 0.375rem !important;
}

.u-m-2\.5 {
  margin: 0.625rem !important;
}

.u-m-3\.5 {
  margin: 0.875rem !important;
}

.-m-0 {
  margin: 0px;
}

.-m-1 {
  margin: -0.25rem !important;
}

.-m-2 {
  margin: -0.5rem !important;
}

.-m-3 {
  margin: -0.75rem !important;
}

.-m-4 {
  margin: -1rem !important;
}

.-m-5 {
  margin: -1.25rem !important;
}

.-m-6 {
  margin: -1.5rem !important;
}

.-m-7 {
  margin: -1.75rem !important;
}

.-m-8 {
  margin: -2rem !important;
}

.-m-9 {
  margin: -2.25rem !important;
}

.-m-10 {
  margin: -2.5rem !important;
}

.-m-11 {
  margin: -2.75rem !important;
}

.-m-12 {
  margin: -3rem !important;
}

.-m-14 {
  margin: -3.5rem !important;
}

.-m-16 {
  margin: -4rem !important;
}

.-m-20 {
  margin: -5rem !important;
}

.-m-24 {
  margin: -6rem !important;
}

.-m-28 {
  margin: -7rem !important;
}

.-m-32 {
  margin: -8rem !important;
}

.-m-36 {
  margin: -9rem !important;
}

.-m-40 {
  margin: -10rem !important;
}

.-m-44 {
  margin: -11rem !important;
}

.-m-48 {
  margin: -12rem !important;
}

.-m-52 {
  margin: -13rem !important;
}

.-m-56 {
  margin: -14rem !important;
}

.-m-60 {
  margin: -15rem !important;
}

.-m-64 {
  margin: -16rem !important;
}

.-m-72 {
  margin: -18rem !important;
}

.-m-80 {
  margin: -20rem !important;
}

.-m-96 {
  margin: -24rem !important;
}

.-m-px {
  margin: -1px;
}

.-m-0\.5 {
  margin: -0.125rem !important;
}

.-m-1\.5 {
  margin: -0.375rem !important;
}

.-m-2\.5 {
  margin: -0.625rem !important;
}

.-m-3\.5 {
  margin: -0.875rem !important;
}

.u-my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.u-mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.u-my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.u-mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.u-my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.u-mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.u-my-3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.u-mx-3 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}

.u-my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.u-mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.u-my-5 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.u-mx-5 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}

.u-my-6 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.u-mx-6 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.u-my-7 {
  margin-top: 1.75rem !important;
  margin-bottom: 1.75rem !important;
}

.u-mx-7 {
  margin-left: 1.75rem !important;
  margin-right: 1.75rem !important;
}

.u-my-8 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.u-mx-8 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.u-my-9 {
  margin-top: 2.25rem !important;
  margin-bottom: 2.25rem !important;
}

.u-mx-9 {
  margin-left: 2.25rem !important;
  margin-right: 2.25rem !important;
}

.u-my-10 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.u-mx-10 {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
}

.u-my-11 {
  margin-top: 2.75rem !important;
  margin-bottom: 2.75rem !important;
}

.u-mx-11 {
  margin-left: 2.75rem !important;
  margin-right: 2.75rem !important;
}

.u-my-12 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.u-mx-12 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.u-my-14 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}

.u-mx-14 {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.u-my-16 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.u-mx-16 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.u-my-20 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.u-mx-20 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.u-my-24 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.u-mx-24 {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}

.u-my-28 {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}

.u-mx-28 {
  margin-left: 7rem !important;
  margin-right: 7rem !important;
}

.u-my-32 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.u-mx-32 {
  margin-left: 8rem !important;
  margin-right: 8rem !important;
}

.u-my-36 {
  margin-top: 9rem !important;
  margin-bottom: 9rem !important;
}

.u-mx-36 {
  margin-left: 9rem !important;
  margin-right: 9rem !important;
}

.u-my-40 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.u-mx-40 {
  margin-left: 10rem !important;
  margin-right: 10rem !important;
}

.u-my-44 {
  margin-top: 11rem !important;
  margin-bottom: 11rem !important;
}

.u-mx-44 {
  margin-left: 11rem !important;
  margin-right: 11rem !important;
}

.u-my-48 {
  margin-top: 12rem !important;
  margin-bottom: 12rem !important;
}

.u-mx-48 {
  margin-left: 12rem !important;
  margin-right: 12rem !important;
}

.u-my-52 {
  margin-top: 13rem !important;
  margin-bottom: 13rem !important;
}

.u-mx-52 {
  margin-left: 13rem !important;
  margin-right: 13rem !important;
}

.u-my-56 {
  margin-top: 14rem !important;
  margin-bottom: 14rem !important;
}

.u-mx-56 {
  margin-left: 14rem !important;
  margin-right: 14rem !important;
}

.u-my-60 {
  margin-top: 15rem !important;
  margin-bottom: 15rem !important;
}

.u-mx-60 {
  margin-left: 15rem !important;
  margin-right: 15rem !important;
}

.u-my-64 {
  margin-top: 16rem !important;
  margin-bottom: 16rem !important;
}

.u-mx-64 {
  margin-left: 16rem !important;
  margin-right: 16rem !important;
}

.u-my-72 {
  margin-top: 18rem !important;
  margin-bottom: 18rem !important;
}

.u-mx-72 {
  margin-left: 18rem !important;
  margin-right: 18rem !important;
}

.u-my-80 {
  margin-top: 20rem !important;
  margin-bottom: 20rem !important;
}

.u-mx-80 {
  margin-left: 20rem !important;
  margin-right: 20rem !important;
}

.u-my-96 {
  margin-top: 24rem !important;
  margin-bottom: 24rem !important;
}

.u-mx-96 {
  margin-left: 24rem !important;
  margin-right: 24rem !important;
}

.u-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-my-px {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-mx-px {
  margin-left: 1px;
  margin-right: 1px;
}

.u-my-0\.5 {
  margin-top: 0.125rem !important;
  margin-bottom: 0.125rem !important;
}

.u-mx-0\.5 {
  margin-left: 0.125rem !important;
  margin-right: 0.125rem !important;
}

.u-my-1\.5 {
  margin-top: 0.375rem !important;
  margin-bottom: 0.375rem !important;
}

.u-mx-1\.5 {
  margin-left: 0.375rem !important;
  margin-right: 0.375rem !important;
}

.u-my-2\.5 {
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important;
}

.u-mx-2\.5 {
  margin-left: 0.625rem !important;
  margin-right: 0.625rem !important;
}

.u-my-3\.5 {
  margin-top: 0.875rem !important;
  margin-bottom: 0.875rem !important;
}

.u-mx-3\.5 {
  margin-left: 0.875rem !important;
  margin-right: 0.875rem !important;
}

.-my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.-mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.-my-1 {
  margin-top: -0.25rem !important;
  margin-bottom: -0.25rem !important;
}

.-mx-1 {
  margin-left: -0.25rem !important;
  margin-right: -0.25rem !important;
}

.-my-2 {
  margin-top: -0.5rem !important;
  margin-bottom: -0.5rem !important;
}

.-mx-2 {
  margin-left: -0.5rem !important;
  margin-right: -0.5rem !important;
}

.-my-3 {
  margin-top: -0.75rem !important;
  margin-bottom: -0.75rem !important;
}

.-mx-3 {
  margin-left: -0.75rem !important;
  margin-right: -0.75rem !important;
}

.-my-4 {
  margin-top: -1rem !important;
  margin-bottom: -1rem !important;
}

.-mx-4 {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

.-my-5 {
  margin-top: -1.25rem !important;
  margin-bottom: -1.25rem !important;
}

.-mx-5 {
  margin-left: -1.25rem !important;
  margin-right: -1.25rem !important;
}

.-my-6 {
  margin-top: -1.5rem !important;
  margin-bottom: -1.5rem !important;
}

.-mx-6 {
  margin-left: -1.5rem !important;
  margin-right: -1.5rem !important;
}

.-my-7 {
  margin-top: -1.75rem !important;
  margin-bottom: -1.75rem !important;
}

.-mx-7 {
  margin-left: -1.75rem !important;
  margin-right: -1.75rem !important;
}

.-my-8 {
  margin-top: -2rem !important;
  margin-bottom: -2rem !important;
}

.-mx-8 {
  margin-left: -2rem !important;
  margin-right: -2rem !important;
}

.-my-9 {
  margin-top: -2.25rem !important;
  margin-bottom: -2.25rem !important;
}

.-mx-9 {
  margin-left: -2.25rem !important;
  margin-right: -2.25rem !important;
}

.-my-10 {
  margin-top: -2.5rem !important;
  margin-bottom: -2.5rem !important;
}

.-mx-10 {
  margin-left: -2.5rem !important;
  margin-right: -2.5rem !important;
}

.-my-11 {
  margin-top: -2.75rem !important;
  margin-bottom: -2.75rem !important;
}

.-mx-11 {
  margin-left: -2.75rem !important;
  margin-right: -2.75rem !important;
}

.-my-12 {
  margin-top: -3rem !important;
  margin-bottom: -3rem !important;
}

.-mx-12 {
  margin-left: -3rem !important;
  margin-right: -3rem !important;
}

.-my-14 {
  margin-top: -3.5rem !important;
  margin-bottom: -3.5rem !important;
}

.-mx-14 {
  margin-left: -3.5rem !important;
  margin-right: -3.5rem !important;
}

.-my-16 {
  margin-top: -4rem !important;
  margin-bottom: -4rem !important;
}

.-mx-16 {
  margin-left: -4rem !important;
  margin-right: -4rem !important;
}

.-my-20 {
  margin-top: -5rem !important;
  margin-bottom: -5rem !important;
}

.-mx-20 {
  margin-left: -5rem !important;
  margin-right: -5rem !important;
}

.-my-24 {
  margin-top: -6rem !important;
  margin-bottom: -6rem !important;
}

.-mx-24 {
  margin-left: -6rem !important;
  margin-right: -6rem !important;
}

.-my-28 {
  margin-top: -7rem !important;
  margin-bottom: -7rem !important;
}

.-mx-28 {
  margin-left: -7rem !important;
  margin-right: -7rem !important;
}

.-my-32 {
  margin-top: -8rem !important;
  margin-bottom: -8rem !important;
}

.-mx-32 {
  margin-left: -8rem !important;
  margin-right: -8rem !important;
}

.-my-36 {
  margin-top: -9rem !important;
  margin-bottom: -9rem !important;
}

.-mx-36 {
  margin-left: -9rem !important;
  margin-right: -9rem !important;
}

.-my-40 {
  margin-top: -10rem !important;
  margin-bottom: -10rem !important;
}

.-mx-40 {
  margin-left: -10rem !important;
  margin-right: -10rem !important;
}

.-my-44 {
  margin-top: -11rem !important;
  margin-bottom: -11rem !important;
}

.-mx-44 {
  margin-left: -11rem !important;
  margin-right: -11rem !important;
}

.-my-48 {
  margin-top: -12rem !important;
  margin-bottom: -12rem !important;
}

.-mx-48 {
  margin-left: -12rem !important;
  margin-right: -12rem !important;
}

.-my-52 {
  margin-top: -13rem !important;
  margin-bottom: -13rem !important;
}

.-mx-52 {
  margin-left: -13rem !important;
  margin-right: -13rem !important;
}

.-my-56 {
  margin-top: -14rem !important;
  margin-bottom: -14rem !important;
}

.-mx-56 {
  margin-left: -14rem !important;
  margin-right: -14rem !important;
}

.-my-60 {
  margin-top: -15rem !important;
  margin-bottom: -15rem !important;
}

.-mx-60 {
  margin-left: -15rem !important;
  margin-right: -15rem !important;
}

.-my-64 {
  margin-top: -16rem !important;
  margin-bottom: -16rem !important;
}

.-mx-64 {
  margin-left: -16rem !important;
  margin-right: -16rem !important;
}

.-my-72 {
  margin-top: -18rem !important;
  margin-bottom: -18rem !important;
}

.-mx-72 {
  margin-left: -18rem !important;
  margin-right: -18rem !important;
}

.-my-80 {
  margin-top: -20rem !important;
  margin-bottom: -20rem !important;
}

.-mx-80 {
  margin-left: -20rem !important;
  margin-right: -20rem !important;
}

.-my-96 {
  margin-top: -24rem !important;
  margin-bottom: -24rem !important;
}

.-mx-96 {
  margin-left: -24rem !important;
  margin-right: -24rem !important;
}

.-my-px {
  margin-top: -1px;
  margin-bottom: -1px;
}

.-mx-px {
  margin-left: -1px;
  margin-right: -1px;
}

.-my-0\.5 {
  margin-top: -0.125rem !important;
  margin-bottom: -0.125rem !important;
}

.-mx-0\.5 {
  margin-left: -0.125rem !important;
  margin-right: -0.125rem !important;
}

.-my-1\.5 {
  margin-top: -0.375rem !important;
  margin-bottom: -0.375rem !important;
}

.-mx-1\.5 {
  margin-left: -0.375rem !important;
  margin-right: -0.375rem !important;
}

.-my-2\.5 {
  margin-top: -0.625rem !important;
  margin-bottom: -0.625rem !important;
}

.-mx-2\.5 {
  margin-left: -0.625rem !important;
  margin-right: -0.625rem !important;
}

.-my-3\.5 {
  margin-top: -0.875rem !important;
  margin-bottom: -0.875rem !important;
}

.-mx-3\.5 {
  margin-left: -0.875rem !important;
  margin-right: -0.875rem !important;
}

.u-mt-0 {
  margin-top: 0px;
}

.u-mr-0 {
  margin-right: 0px;
}

.u-mb-0 {
  margin-bottom: 0px;
}

.u-ml-0 {
  margin-left: 0px;
}

.u-mt-1 {
  margin-top: 0.25rem !important;
}

.u-mr-1 {
  margin-right: 0.25rem !important;
}

.u-mb-1 {
  margin-bottom: 0.25rem !important;
}

.u-ml-1 {
  margin-left: 0.25rem !important;
}

.u-mt-2 {
  margin-top: 0.5rem !important;
}

.u-mr-2 {
  margin-right: 0.5rem !important;
}

.u-mb-2 {
  margin-bottom: 0.5rem !important;
}

.u-ml-2 {
  margin-left: 0.5rem !important;
}

.u-mt-3 {
  margin-top: 0.75rem !important;
}

.u-mr-3 {
  margin-right: 0.75rem !important;
}

.u-mb-3 {
  margin-bottom: 0.75rem !important;
}

.u-ml-3 {
  margin-left: 0.75rem !important;
}

.u-mt-4 {
  margin-top: 1rem !important;
}

.u-mr-4 {
  margin-right: 1rem !important;
}

.u-mb-4 {
  margin-bottom: 1rem !important;
}

.u-ml-4 {
  margin-left: 1rem !important;
}

.u-mt-5 {
  margin-top: 1.25rem !important;
}

.u-mr-5 {
  margin-right: 1.25rem !important;
}

.u-mb-5 {
  margin-bottom: 1.25rem !important;
}

.u-ml-5 {
  margin-left: 1.25rem !important;
}

.u-mt-6 {
  margin-top: 1.5rem !important;
}

.u-mr-6 {
  margin-right: 1.5rem !important;
}

.u-mb-6 {
  margin-bottom: 1.5rem !important;
}

.u-ml-6 {
  margin-left: 1.5rem !important;
}

.u-mt-7 {
  margin-top: 1.75rem !important;
}

.u-mr-7 {
  margin-right: 1.75rem !important;
}

.u-mb-7 {
  margin-bottom: 1.75rem !important;
}

.u-ml-7 {
  margin-left: 1.75rem !important;
}

.u-mt-8 {
  margin-top: 2rem !important;
}

.u-mr-8 {
  margin-right: 2rem !important;
}

.u-mb-8 {
  margin-bottom: 2rem !important;
}

.u-ml-8 {
  margin-left: 2rem !important;
}

.u-mt-9 {
  margin-top: 2.25rem !important;
}

.u-mr-9 {
  margin-right: 2.25rem !important;
}

.u-mb-9 {
  margin-bottom: 2.25rem !important;
}

.u-ml-9 {
  margin-left: 2.25rem !important;
}

.u-mt-10 {
  margin-top: 2.5rem !important;
}

.u-mr-10 {
  margin-right: 2.5rem !important;
}

.u-mb-10 {
  margin-bottom: 2.5rem !important;
}

.u-ml-10 {
  margin-left: 2.5rem !important;
}

.u-mt-11 {
  margin-top: 2.75rem !important;
}

.u-mr-11 {
  margin-right: 2.75rem !important;
}

.u-mb-11 {
  margin-bottom: 2.75rem !important;
}

.u-ml-11 {
  margin-left: 2.75rem !important;
}

.u-mt-12 {
  margin-top: 3rem !important;
}

.u-mr-12 {
  margin-right: 3rem !important;
}

.u-mb-12 {
  margin-bottom: 3rem !important;
}

.u-ml-12 {
  margin-left: 3rem !important;
}

.u-mt-14 {
  margin-top: 3.5rem !important;
}

.u-mr-14 {
  margin-right: 3.5rem !important;
}

.u-mb-14 {
  margin-bottom: 3.5rem !important;
}

.u-ml-14 {
  margin-left: 3.5rem !important;
}

.u-mt-16 {
  margin-top: 4rem !important;
}

.u-mr-16 {
  margin-right: 4rem !important;
}

.u-mb-16 {
  margin-bottom: 4rem !important;
}

.u-ml-16 {
  margin-left: 4rem !important;
}

.u-mt-20 {
  margin-top: 5rem !important;
}

.u-mr-20 {
  margin-right: 5rem !important;
}

.u-mb-20 {
  margin-bottom: 5rem !important;
}

.u-ml-20 {
  margin-left: 5rem !important;
}

.u-mt-24 {
  margin-top: 6rem !important;
}

.u-mr-24 {
  margin-right: 6rem !important;
}

.u-mb-24 {
  margin-bottom: 6rem !important;
}

.u-ml-24 {
  margin-left: 6rem !important;
}

.u-mt-28 {
  margin-top: 7rem !important;
}

.u-mr-28 {
  margin-right: 7rem !important;
}

.u-mb-28 {
  margin-bottom: 7rem !important;
}

.u-ml-28 {
  margin-left: 7rem !important;
}

.u-mt-32 {
  margin-top: 8rem !important;
}

.u-mr-32 {
  margin-right: 8rem !important;
}

.u-mb-32 {
  margin-bottom: 8rem !important;
}

.u-ml-32 {
  margin-left: 8rem !important;
}

.u-mt-36 {
  margin-top: 9rem !important;
}

.u-mr-36 {
  margin-right: 9rem !important;
}

.u-mb-36 {
  margin-bottom: 9rem !important;
}

.u-ml-36 {
  margin-left: 9rem !important;
}

.u-mt-40 {
  margin-top: 10rem !important;
}

.u-mr-40 {
  margin-right: 10rem !important;
}

.u-mb-40 {
  margin-bottom: 10rem !important;
}

.u-ml-40 {
  margin-left: 10rem !important;
}

.u-mt-44 {
  margin-top: 11rem !important;
}

.u-mr-44 {
  margin-right: 11rem !important;
}

.u-mb-44 {
  margin-bottom: 11rem !important;
}

.u-ml-44 {
  margin-left: 11rem !important;
}

.u-mt-48 {
  margin-top: 12rem !important;
}

.u-mr-48 {
  margin-right: 12rem !important;
}

.u-mb-48 {
  margin-bottom: 12rem !important;
}

.u-ml-48 {
  margin-left: 12rem !important;
}

.u-mt-52 {
  margin-top: 13rem !important;
}

.u-mr-52 {
  margin-right: 13rem !important;
}

.u-mb-52 {
  margin-bottom: 13rem !important;
}

.u-ml-52 {
  margin-left: 13rem !important;
}

.u-mt-56 {
  margin-top: 14rem !important;
}

.u-mr-56 {
  margin-right: 14rem !important;
}

.u-mb-56 {
  margin-bottom: 14rem !important;
}

.u-ml-56 {
  margin-left: 14rem !important;
}

.u-mt-60 {
  margin-top: 15rem !important;
}

.u-mr-60 {
  margin-right: 15rem !important;
}

.u-mb-60 {
  margin-bottom: 15rem !important;
}

.u-ml-60 {
  margin-left: 15rem !important;
}

.u-mt-64 {
  margin-top: 16rem !important;
}

.u-mr-64 {
  margin-right: 16rem !important;
}

.u-mb-64 {
  margin-bottom: 16rem !important;
}

.u-ml-64 {
  margin-left: 16rem !important;
}

.u-mt-72 {
  margin-top: 18rem !important;
}

.u-mr-72 {
  margin-right: 18rem !important;
}

.u-mb-72 {
  margin-bottom: 18rem !important;
}

.u-ml-72 {
  margin-left: 18rem !important;
}

.u-mt-80 {
  margin-top: 20rem !important;
}

.u-mr-80 {
  margin-right: 20rem !important;
}

.u-mb-80 {
  margin-bottom: 20rem !important;
}

.u-ml-80 {
  margin-left: 20rem !important;
}

.u-mt-96 {
  margin-top: 24rem !important;
}

.u-mr-96 {
  margin-right: 24rem !important;
}

.u-mb-96 {
  margin-bottom: 24rem !important;
}

.u-ml-96 {
  margin-left: 24rem !important;
}

.u-mt-auto {
  margin-top: auto;
}

.u-mr-auto {
  margin-right: auto;
}

.u-mb-auto {
  margin-bottom: auto;
}

.u-ml-auto {
  margin-left: auto;
}

.u-mt-px {
  margin-top: 1px;
}

.u-mr-px {
  margin-right: 1px;
}

.u-mb-px {
  margin-bottom: 1px;
}

.u-ml-px {
  margin-left: 1px;
}

.u-mt-0\.5 {
  margin-top: 0.125rem !important;
}

.u-mr-0\.5 {
  margin-right: 0.125rem !important;
}

.u-mb-0\.5 {
  margin-bottom: 0.125rem !important;
}

.u-ml-0\.5 {
  margin-left: 0.125rem !important;
}

.u-mt-1\.5 {
  margin-top: 0.375rem !important;
}

.u-mr-1\.5 {
  margin-right: 0.375rem !important;
}

.u-mb-1\.5 {
  margin-bottom: 0.375rem !important;
}

.u-ml-1\.5 {
  margin-left: 0.375rem !important;
}

.u-mt-2\.5 {
  margin-top: 0.625rem !important;
}

.u-mr-2\.5 {
  margin-right: 0.625rem !important;
}

.u-mb-2\.5 {
  margin-bottom: 0.625rem !important;
}

.u-ml-2\.5 {
  margin-left: 0.625rem !important;
}

.u-mt-3\.5 {
  margin-top: 0.875rem !important;
}

.u-mr-3\.5 {
  margin-right: 0.875rem !important;
}

.u-mb-3\.5 {
  margin-bottom: 0.875rem !important;
}

.u-ml-3\.5 {
  margin-left: 0.875rem !important;
}

.-mt-0 {
  margin-top: 0px;
}

.-mr-0 {
  margin-right: 0px;
}

.-mb-0 {
  margin-bottom: 0px;
}

.-ml-0 {
  margin-left: 0px;
}

.-mt-1 {
  margin-top: -0.25rem !important;
}

.-mr-1 {
  margin-right: -0.25rem !important;
}

.-mb-1 {
  margin-bottom: -0.25rem !important;
}

.-ml-1 {
  margin-left: -0.25rem !important;
}

.-mt-2 {
  margin-top: -0.5rem !important;
}

.-mr-2 {
  margin-right: -0.5rem !important;
}

.-mb-2 {
  margin-bottom: -0.5rem !important;
}

.-ml-2 {
  margin-left: -0.5rem !important;
}

.-mt-3 {
  margin-top: -0.75rem !important;
}

.-mr-3 {
  margin-right: -0.75rem !important;
}

.-mb-3 {
  margin-bottom: -0.75rem !important;
}

.-ml-3 {
  margin-left: -0.75rem !important;
}

.-mt-4 {
  margin-top: -1rem !important;
}

.-mr-4 {
  margin-right: -1rem !important;
}

.-mb-4 {
  margin-bottom: -1rem !important;
}

.-ml-4 {
  margin-left: -1rem !important;
}

.-mt-5 {
  margin-top: -1.25rem !important;
}

.-mr-5 {
  margin-right: -1.25rem !important;
}

.-mb-5 {
  margin-bottom: -1.25rem !important;
}

.-ml-5 {
  margin-left: -1.25rem !important;
}

.-mt-6 {
  margin-top: -1.5rem !important;
}

.-mr-6 {
  margin-right: -1.5rem !important;
}

.-mb-6 {
  margin-bottom: -1.5rem !important;
}

.-ml-6 {
  margin-left: -1.5rem !important;
}

.-mt-7 {
  margin-top: -1.75rem !important;
}

.-mr-7 {
  margin-right: -1.75rem !important;
}

.-mb-7 {
  margin-bottom: -1.75rem !important;
}

.-ml-7 {
  margin-left: -1.75rem !important;
}

.-mt-8 {
  margin-top: -2rem !important;
}

.-mr-8 {
  margin-right: -2rem !important;
}

.-mb-8 {
  margin-bottom: -2rem !important;
}

.-ml-8 {
  margin-left: -2rem !important;
}

.-mt-9 {
  margin-top: -2.25rem !important;
}

.-mr-9 {
  margin-right: -2.25rem !important;
}

.-mb-9 {
  margin-bottom: -2.25rem !important;
}

.-ml-9 {
  margin-left: -2.25rem !important;
}

.-mt-10 {
  margin-top: -2.5rem !important;
}

.-mr-10 {
  margin-right: -2.5rem !important;
}

.-mb-10 {
  margin-bottom: -2.5rem !important;
}

.-ml-10 {
  margin-left: -2.5rem !important;
}

.-mt-11 {
  margin-top: -2.75rem !important;
}

.-mr-11 {
  margin-right: -2.75rem !important;
}

.-mb-11 {
  margin-bottom: -2.75rem !important;
}

.-ml-11 {
  margin-left: -2.75rem !important;
}

.-mt-12 {
  margin-top: -3rem !important;
}

.-mr-12 {
  margin-right: -3rem !important;
}

.-mb-12 {
  margin-bottom: -3rem !important;
}

.-ml-12 {
  margin-left: -3rem !important;
}

.-mt-14 {
  margin-top: -3.5rem !important;
}

.-mr-14 {
  margin-right: -3.5rem !important;
}

.-mb-14 {
  margin-bottom: -3.5rem !important;
}

.-ml-14 {
  margin-left: -3.5rem !important;
}

.-mt-16 {
  margin-top: -4rem !important;
}

.-mr-16 {
  margin-right: -4rem !important;
}

.-mb-16 {
  margin-bottom: -4rem !important;
}

.-ml-16 {
  margin-left: -4rem !important;
}

.-mt-20 {
  margin-top: -5rem !important;
}

.-mr-20 {
  margin-right: -5rem !important;
}

.-mb-20 {
  margin-bottom: -5rem !important;
}

.-ml-20 {
  margin-left: -5rem !important;
}

.-mt-24 {
  margin-top: -6rem !important;
}

.-mr-24 {
  margin-right: -6rem !important;
}

.-mb-24 {
  margin-bottom: -6rem !important;
}

.-ml-24 {
  margin-left: -6rem !important;
}

.-mt-28 {
  margin-top: -7rem !important;
}

.-mr-28 {
  margin-right: -7rem !important;
}

.-mb-28 {
  margin-bottom: -7rem !important;
}

.-ml-28 {
  margin-left: -7rem !important;
}

.-mt-32 {
  margin-top: -8rem !important;
}

.-mr-32 {
  margin-right: -8rem !important;
}

.-mb-32 {
  margin-bottom: -8rem !important;
}

.-ml-32 {
  margin-left: -8rem !important;
}

.-mt-36 {
  margin-top: -9rem !important;
}

.-mr-36 {
  margin-right: -9rem !important;
}

.-mb-36 {
  margin-bottom: -9rem !important;
}

.-ml-36 {
  margin-left: -9rem !important;
}

.-mt-40 {
  margin-top: -10rem !important;
}

.-mr-40 {
  margin-right: -10rem !important;
}

.-mb-40 {
  margin-bottom: -10rem !important;
}

.-ml-40 {
  margin-left: -10rem !important;
}

.-mt-44 {
  margin-top: -11rem !important;
}

.-mr-44 {
  margin-right: -11rem !important;
}

.-mb-44 {
  margin-bottom: -11rem !important;
}

.-ml-44 {
  margin-left: -11rem !important;
}

.-mt-48 {
  margin-top: -12rem !important;
}

.-mr-48 {
  margin-right: -12rem !important;
}

.-mb-48 {
  margin-bottom: -12rem !important;
}

.-ml-48 {
  margin-left: -12rem !important;
}

.-mt-52 {
  margin-top: -13rem !important;
}

.-mr-52 {
  margin-right: -13rem !important;
}

.-mb-52 {
  margin-bottom: -13rem !important;
}

.-ml-52 {
  margin-left: -13rem !important;
}

.-mt-56 {
  margin-top: -14rem !important;
}

.-mr-56 {
  margin-right: -14rem !important;
}

.-mb-56 {
  margin-bottom: -14rem !important;
}

.-ml-56 {
  margin-left: -14rem !important;
}

.-mt-60 {
  margin-top: -15rem !important;
}

.-mr-60 {
  margin-right: -15rem !important;
}

.-mb-60 {
  margin-bottom: -15rem !important;
}

.-ml-60 {
  margin-left: -15rem !important;
}

.-mt-64 {
  margin-top: -16rem !important;
}

.-mr-64 {
  margin-right: -16rem !important;
}

.-mb-64 {
  margin-bottom: -16rem !important;
}

.-ml-64 {
  margin-left: -16rem !important;
}

.-mt-72 {
  margin-top: -18rem !important;
}

.-mr-72 {
  margin-right: -18rem !important;
}

.-mb-72 {
  margin-bottom: -18rem !important;
}

.-ml-72 {
  margin-left: -18rem !important;
}

.-mt-80 {
  margin-top: -20rem !important;
}

.-mr-80 {
  margin-right: -20rem !important;
}

.-mb-80 {
  margin-bottom: -20rem !important;
}

.-ml-80 {
  margin-left: -20rem !important;
}

.-mt-96 {
  margin-top: -24rem !important;
}

.-mr-96 {
  margin-right: -24rem !important;
}

.-mb-96 {
  margin-bottom: -24rem !important;
}

.-ml-96 {
  margin-left: -24rem !important;
}

.-mt-px {
  margin-top: -1px;
}

.-mr-px {
  margin-right: -1px;
}

.-mb-px {
  margin-bottom: -1px;
}

.-ml-px {
  margin-left: -1px;
}

.-mt-0\.5 {
  margin-top: -0.125rem !important;
}

.-mr-0\.5 {
  margin-right: -0.125rem !important;
}

.-mb-0\.5 {
  margin-bottom: -0.125rem !important;
}

.-ml-0\.5 {
  margin-left: -0.125rem !important;
}

.-mt-1\.5 {
  margin-top: -0.375rem !important;
}

.-mr-1\.5 {
  margin-right: -0.375rem !important;
}

.-mb-1\.5 {
  margin-bottom: -0.375rem !important;
}

.-ml-1\.5 {
  margin-left: -0.375rem !important;
}

.-mt-2\.5 {
  margin-top: -0.625rem !important;
}

.-mr-2\.5 {
  margin-right: -0.625rem !important;
}

.-mb-2\.5 {
  margin-bottom: -0.625rem !important;
}

.-ml-2\.5 {
  margin-left: -0.625rem !important;
}

.-mt-3\.5 {
  margin-top: -0.875rem !important;
}

.-mr-3\.5 {
  margin-right: -0.875rem !important;
}

.-mb-3\.5 {
  margin-bottom: -0.875rem !important;
}

.-ml-3\.5 {
  margin-left: -0.875rem !important;
}
